---
import "../styles/global.css";
import { getLangFromCookie } from "../i18n/utils";

const lang = getLangFromCookie(Astro.cookies);
const { title } = Astro.props;
---

<!doctype html>
<html lang={lang === "kz" ? "kk" : lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      document.documentElement.classList.add("js");
    </script>
  </head>
  <body class="flex min-h-screen flex-col">
    <main class="flex-grow">
      <slot name="header" />
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
