<section id="prize-pool" class="py-12 md:py-16 lg:py-20">
  <div class="mx-auto w-full max-w-328.75 px-4 sm:px-6 lg:px-8">
    <h1
      class="mb-8 text-center text-3xl leading-tight font-bold sm:text-4xl lg:mb-12 lg:text-5xl"
    >
      Prize Pool
    </h1>
    <div class="relative text-center">
      <p
        class="relative inline-block text-5xl leading-tight font-black text-red-700 sm:text-6xl md:text-7xl lg:text-8xl"
      >
        <span class="relative z-10">₸ 1,000,000</span>
        <span
          class="absolute inset-0 animate-pulse text-red-700 opacity-60 blur-2xl"
        >
          ₸ 1,000,000
        </span>
        <span class="absolute inset-0 text-red-600 opacity-40 blur-3xl">
          ₸ 1,000,000
        </span>
      </p>
    </div>
  </div>
</section>
