---
import About from "../components/About.astro";
import Agenda from "../components/Agenda.astro";
import Header from "../components/Header.astro";
import OverPastYears from "../components/OverPastYears.astro";
import PrizePool from "../components/PrizePool.astro";
import Timeline from "../components/Timeline.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<main>
  <Layout title="NU Open 2026">
    <Header />
    <Welcome />
    <PrizePool />
    <About />
    <OverPastYears />
    <Timeline />
    <Agenda />
  </Layout>
</main>
