---
import RegistrationPage from "../components/RegistrationPage";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Registration">
  <div class="pt-20">
    <RegistrationPage client:load />
  </div>
</Layout>
