---
import AuthForm from "../components/AuthForm";
import Layout from "../layouts/Layout.astro";
---

<!-- Placeholder for registration page -->
<Layout title="Registration">
  <div class="pt-20">
    <AuthForm client:load />
  </div>
</Layout>
